{% extends 'layouts/base.html'%} {% load static %} {% load form_filters %}
{% block content %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">
            Daftar Akun Baru
          </h2>
        </div>
        <div class="card-body">
          <form action="{% url 'account_signup' %}" method="post">
            {{ form.non_field.errors | safe }}
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
              <label class="form-label">{{ field.label }}</label>
              {% if field.name == 'password1' or field.name == 'password2' %}
                <div class="input-group">
                  {{ field|add_class:"form-control"}}
                  <button type="button" class="btn toggle-password">
                    <i class="ri-eye-line"></i> <!-- Icon -->
                  </button>
                </div>
              {% else %}
                {{ field|add_class:"form-control" }}
              {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Register</button>
          </form>

          <p class="text-center mt-3">
            Sudah punya akun ? <a href="{% url 'account_login' %}">Masuk disini</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}