{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<div class="mb-5">
  <section
    id="hero-about"
    class="min-vh-100 d-flex align-items-center text-center"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-uppercase text-white display-1">
            GET TO MORE DEEPLY
          </h1>
          <h5 class="text-uppercase text-white mt-3 mb-4">
            Relationships Are Created When We Get to Know Each Other
          </h5>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <h1 class="display-4">Who We Are</h1>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>
            Skripsi+ terdiri dari tim profesional yang berdedikasi dalam
            membantu mahasiswa menyelesaikan skripsi dengan bimbingan yang tepat
            dan terarah. Dengan mentor berpengalaman, Skripsi+ menyediakan
            kursus skripsi yang dirancang untuk memberikan pemahaman secara
            mudah dan praktis. Dengan bimbingan penuh dan harga yang terjangkau.
            Bergabunglah dengan Skripsi+ untuk membantu proses menyusun skripi
            Anda lebih terarah!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="speakers" class="section-padding">
    <div class="container mt-4">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <h1 class="display-4">Meet Our Teams</h1>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Testimonial Owl Carousel section
        ================================================== -->
        <div id="owl-speakers" class="owl-carousel">
          <div class="col-md-3 col-sm-3">
            <div class="speakers-wrapper me-3 ms-3">
              <div class="image-zoom">
                <div class="image-zoom-wrapper">
                  <img
                    src="{% static 'img/raf.jpg'%}"
                    class="img-responsive"
                    alt="Muhammad Rafli Rangga Pratama"
                  />
                </div>
              </div>
              <div class="speakers-thumb mt-2">
                <h3>Muhammad Rafli Rangga Pratama</h3>
                <h6>Front-end Developer</h6>
                <div class="social-icons team text-center mt-3">
                  <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                  <a href="#"><i class="ri-github-fill"></i></a>
                  <a href="#"><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3">
            <div class="speakers-wrapper me-3 ms-3">
              <div class="image-zoom">
                <div class="image-zoom-wrapper">
                  <img
                    src="{% static 'img/speakers-img1.jpg'%}"
                    class="img-responsive"
                    alt="speakers"
                  />
                </div>
              </div>
              <div class="speakers-thumb mt-2">
                <h3>Anjela Pungki</h3>
                <h6>Creative Content</h6>
                <div class="social-icons team text-center mt-3">
                  <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                  <a href="#"><i class="ri-github-fill"></i></a>
                  <a href="#"><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3">
            <div class="speakers-wrapper me-3 ms-3">
              <div class="image-zoom">
                <div class="image-zoom-wrapper">
                  <img
                    src="{% static 'img/speakers-img1.jpg'%}"
                    class="img-responsive"
                    alt="speakers"
                  />
                </div>
              </div>
              <div class="speakers-thumb mt-2">
                <h3>Erlin Anggraeni</h3>
                <h6>UI/UX Designer</h6>
                <div class="social-icons team text-center mt-3">
                  <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                  <a href="#"><i class="ri-github-fill"></i></a>
                  <a href="#"><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3">
            <div class="speakers-wrapper me-3 ms-3">
              <div class="image-zoom">
                <div class="image-zoom-wrapper">
                  <img
                    src="{% static 'img/speakers-img1.jpg'%}"
                    class="img-responsive"
                    alt="speakers"
                  />
                </div>
              </div>
              <div class="speakers-thumb mt-2">
                <h3>Alris Gusnanda</h3>
                <h6>Front-end Developer</h6>
                <div class="social-icons team text-center mt-3">
                  <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                  <a href="#"><i class="ri-github-fill"></i></a>
                  <a href="#"><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3">
            <div class="speakers-wrapper me-3 ms-3">
              <div class="image-zoom">
                <div class="image-zoom-wrapper">
                  <img
                    src="{% static 'img/speakers-img1.jpg'%}"
                    class="img-responsive"
                    alt="speakers"
                  />
                </div>
              </div>
              <div class="speakers-thumb mt-2">
                <h3>Aditya Ramadhan Putra Amari</h3>
                <h6>Back-end Developer</h6>
                <div class="social-icons team text-center mt-3">
                  <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                  <a href="#"><i class="ri-github-fill"></i></a>
                  <a href="#"><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3">
            <div class="speakers-wrapper me-3 ms-3">
              <div class="image-zoom">
                <div class="image-zoom-wrapper">
                  <img
                    src="{% static 'img/speakers-img1.jpg'%}"
                    class="img-responsive"
                    alt="speakers"
                  />
                </div>
              </div>
              <div class="speakers-thumb mt-2">
                <h3>Salsa Pramudhita Agustiardani</h3>
                <h6>UI/UX Designer</h6>
                <div class="social-icons team text-center mt-3">
                  <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                  <a href="#"><i class="ri-github-fill"></i></a>
                  <a href="#"><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3">
            <div class="speakers-wrapper me-3 ms-3">
              <div class="image-zoom">
                <div class="image-zoom-wrapper">
                  <img
                    src="{% static 'img/speakers-img1.jpg'%}"
                    class="img-responsive"
                    alt="speakers"
                  />
                </div>
              </div>
              <div class="speakers-thumb mt-2">
                <h3>Mifdaul Syifa</h3>
                <h6>Creative Content</h6>
                <div class="social-icons team text-center mt-3">
                  <a href="#"><i class="ri-linkedin-box-fill"></i></a>
                  <a href="#"><i class="ri-github-fill"></i></a>
                  <a href="#"><i class="ri-instagram-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
