{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ course.image.url }}" alt="{{ course.title }}" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <h1>{{ course.title }}</h1>
      <p class="text-muted">{{ course.learning_type }}</p>
      <p>{{ course.description }}</p>
      <h3>Price: <span class="text-success">Rp{{ course.price }}</span></h3>
      <form method="POST">
        {% csrf_token %}
        <div class="mt-4">
            <a href="/courses/"><button type="button" class="btn btn-outline-danger">Back</button></a>
            <button type="submit" class="btn btn-brand">Checkout</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
