{% extends 'layouts/base.html' %} {% block content %}
<div class="d-flex">
  <!-- Sidebar -->
  {% include 'components/sidebar.html' %}

  <!-- Tombol Toggle Sidebar (Untuk layar kecil) -->
  <!-- Main Content -->
  <main class="flex-grow-1 mt-2">
    <button
      class="btn btn-brand d-md-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#sidebarOffcanvas"
      aria-controls="sidebarOffcanvas"
    >
      <i class="bi bi-list"></i>
    </button>
    <!-- Button sidebar -->
    <div class="content-dashboard p-4">
      <h1 class="mb-4">Profile</h1>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center mb-5">
            <div class="me-3">
              {% if user.profile.photo %}
              <img
                src="{{ user.profile.photo.url }}"
                alt="Profile Picture"
                class="rounded-circle"
                style="width: 100px; height: 100px; object-fit: cover"
              />
              {% else %}
              <i class="bi bi-person-circle" style="font-size: 100px"></i>
              {% endif %}
            </div>
            <h5 class="card-title">Hello, {{ user.username }}!</h5>
            <a href="{% url 'edit_profile' %}" class="ms-auto btn btn-brand">
              <i class="bi bi-pencil-square"></i> Edit
            </a>
          </div>
          <!-- Email (Read-only) -->
          <div class="mb-3">
            <label class="form-label fw-bold text-dark">Email</label>
            <input
              type="email"
              class="form-control"
              value="{{ user.email }}"
              disabled
            />
          </div>

          <!-- Phone (Read-only) -->
          <div class="mb-3">
            <label class="form-label fw-bold text-dark">Phone</label>
            <input
              type="text"
              class="form-control"
              value="{{ user.profile.phone }}"
              disabled
            />
          </div>

          <!-- Domicile (Read-only) -->
          <div class="mb-3">
            <label class="form-label fw-bold text-dark">Domicile</label>
            <input
              type="text"
              class="form-control"
              value="{{ user.profile.domicile }}"
              disabled
            />
          </div>
          <div class="mt-3">
            <a href="{% url 'account_change_password' %}">
              <button type="button" class="btn btn-primary">
                Change Password
              </button>
            </a>
            <a
              class="btn btn-danger"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#logoutModal"
            >
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock content %}
