{% load static %}
<nav class="navbar navbar-expand-lg bg-white sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        class="logo"
        src="{% static 'img/Light-removebg-preview.png'%}"
        alt="logo-Skripsi+"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#Nav"
      aria-controls="Nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Nav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}"
            href="{% url 'about' %}"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'mentors' %}active{% endif %}"
            href="{% url 'mentors' %}"
            >Mentors</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'course' %}active{% endif %}"
            href="{% url 'course' %}"
            >Courses</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'faq' %}active{% endif %}"
            href="{% url 'faq' %}"
            >FaQ's</a
          >
        </li>
      </ul>

      {% if user.is_authenticated %}
      <div class="dropdown d-none d-lg-block">
        <button
          class="d-flex align-items-center text-decoration-none dropdown-toggle user-icon btn btn-outline-secondary"
          id="dropdownUser"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="color: #212529; background: none; border-radius: 50px; border-width: 3px;">
          
          <span class="me-2">{{ user.username }}</span>
          {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" alt="User Photo" class="rounded-circle" style="width: 32px; height: 32px; object-fit: cover;">
          {% else %}
            <img src="{% static 'img/profil.png'%}" alt="User Photo" class="rounded-circle" style="width: 32px; height: 32px; object-fit: cover;">
          {% endif %}
          
          
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
          <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item text-danger" href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
      </div>
      

      <!-- Mobile and Tablet Buttons -->
      <div class="d-lg-none">
        <button class="btn btn-register rounded-md">
          <a href="{% url 'dashboard' %}">Dashboard</a>
        </button>
        <button class="btn btn-login">
          <a href="{% url 'account_logout' %}">Logout</a>
        </button>
      </div>
      {% else %}
      <button class="btn btn-login">
        <a href="{% url 'account_login' %}">Masuk</a>
      </button>
      <button class="btn btn-register">
        <a href="{% url 'account_signup' %}">Daftar</a>
      </button>
      {% endif %}
    </div>
  </div>
</nav>
